<h1>{{title}}</h1>
      {{#if messages}}
  <div class="alert alert-success" role="alert">
    {{this}}
  </div>
  {{/if}}

<p>Welcome to {{title}}</p>
  
<table class="table table-hover table-dark" id="services">
 
  <thead>
    <tr>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
     {{#each services}}
    <tr>
        <td>{{category}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>
<a href="#" ><button type="button" class="btn btn-primary" >add service</button></a>