</ul>
    {{#if messages}}
      <p class="alert alert-danger">{{this}}</p>
    {{/if}}
 
<form method="POST" action="/forgotpass">
  <h2>Forgot Password</h2>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
            <input type="email" aria-label="email" class="form-control" name ="email" placeholder=" enter your email" required>
        </div>
        <br>
          <button type="submit" class="btn btn-primary">Reset</button>
  <a href="/" ><button type="button" class="btn btn-danger" >Cancel</button></a>
    </div>
  </div>  
</form>
