
</ul>
    {{#if messages}}
      <p class="alert alert-danger">{{this}}</p>
    {{/if}}
 
<form method="POST" action="/passreset/{{token}}">
  <h2>Reset Password</h2>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">New Password</span>
          </div>
            <input type="password" aria-label="password" class="form-control" name ="newpassword" placeholder="Enter New Password" required>
        </div>
        <br> 
    </div>
  </div> 
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Confirm Password</span>
          </div>
            <input type="password" aria-label="password" class="form-control" name ="confirmpassword" placeholder="Confirm Password" required>
        </div>
        <br>
    <button type="submit" class="btn btn-primary">Change Password</button>
  <a href="/" ><button type="button" class="btn btn-danger" >Cancel</button></a>
</form>

